# Bot
aiogram==3.13.1

# Worker
telethon==1.36.0

# Database
sqlalchemy[asyncio]==2.0.35
asyncpg==0.29.0
alembic==1.13.3

# Scheduler
apscheduler==3.10.4

# HTTP (link visit)
httpx==0.27.2

# Config
pydantic-settings==2.5.2

# Utils
python-dotenv==1.0.1
